<template name="navSearch">
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <form action="/search">
                    <div class="input-field z-depth-2">
                        <input name="q" id="search" type="search" placeholder="Nhập từ khóa tìm kiếm">
                        <label for="search" class="active"><a href="/"><i class="mdi-navigation-chevron-left"></i></a></label>
                        <i class="mdi-navigation-close"></i>
                    </div>
                </form>
            </div>
        </nav>
    </div>
</template>